<div class="card">
    <div class="card-body">
        <h1>Titulo: {{postagem.titulo}}</h1>
        <hr>
        <small>Data Publicação: {{postagem.date}}</small>
        <hr>
        <small>{{postagem.conteudo}}</small>
    </div>
</div>